In [1]:
import pandas as pd

In [5]:
s = pd.Series(list('asdadasdadsasfadf'))
s

0     a
1     s
2     d
3     a
4     d
5     a
6     s
7     d
8     a
9     d
10    s
11    a
12    s
13    f
14    a
15    d
16    f
dtype: object

In [6]:
s.unique()

array(['a', 's', 'd', 'f'], dtype=object)

In [7]:
s.value_counts()

a    6
d    5
s    4
f    2
dtype: int64

In [8]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64